<nz-breadcrumb>
  @for (item of breadcrumbs(); track item.label; let last = $last) {
    <nz-breadcrumb-item>
      @if (last) {
        <span class="breadcrumb__current">
          @if (item.icon) { <nz-icon [nzType]="item.icon" /> }
          {{ item.label }}
        </span>
      } @else {
        <a [routerLink]="item.url" class="breadcrumb__link">
          @if (item.icon) { <nz-icon [nzType]="item.icon" /> }
          {{ item.label }}
        </a>
      }
    </nz-breadcrumb-item>
  }
</nz-breadcrumb>
