.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topbar-h);
  background-color: var(--sidebar-bg);
  padding: var(--space-7);
  border-top: 1px solid var(--sidebar-border);

  &__left {
    font-size: var(--text-sm);
    color: var(--text-muted);
  }

  &__right {
    display: flex;
    align-items: center;
    gap: var(--space-8);

    > span {
      cursor: pointer;
      color: var(--text-primary);
      outline: none;

      &:hover {
        color: var(--brand);
      }
    }
  }
}
