<button
  nz-button
  [nzType]="btnType"
  [disabled]="disabled || loading()"
  [nzLoading]="loading()"
  nz-dropdown
  [nzDropdownMenu]="exportMenu"
  nzPlacement="bottomRight"
  class="export-btn"
>
  <span nz-icon nzType="download" nzTheme="outline"></span>
  {{ label }}
  <span nz-icon nzType="down" class="dropdown-icon"></span>
</button>

<nz-dropdown-menu #exportMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="triggerExport('EXCEL')">
      <span nz-icon nzType="file-excel" nzTheme="outline" class="excel-icon"></span>
      Xuất Excel (.xlsx)
    </li>
    <li nz-menu-item (click)="triggerExport('PDF')">
      <span nz-icon nzType="file-pdf" nzTheme="outline" class="pdf-icon"></span>
      Xuất PDF (.pdf)
    </li>
  </ul>
</nz-dropdown-menu>
